*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient( rgba(5, 7, 12, 0.205),rgba(5,7,12, 0.75)), url('../image/background/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background:  #000;
    top: 0;
    right: 0;
}
form{
 background: transparent;

    
}

.container{
    padding-top: 10px;
    border-radius: 5px;
    position: absolute;
    left:15%;
    width: 70%;
    background-image: url(/img/fondo.jpg);
   
}
.label{
    position: absolute;
    float: left;
    width: 10%;
    margin-top: 6px;
    margin-left: 20%;
    text-align: left;
    background: transparent;
    color: white;

}
.input{
    position: absolute;
    left: 36%;
    float: left;
    width: 30%;
    margin-top: 6px;
}
.row{

    width: 100%;
}
.row:after{
    content: "";
    display:table;
    clear: both;

}

button, input[type="button"]{
    background-color: rgb(0, 0, 139);
    color: white;
    padding: 6px;
    width: 110px;
    margin: 1.5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 35px;
}
